body {
  background-color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  color: #FFFFFF;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.form-container {
  width: 665px;
  height: 363px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email-container {
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  justify-content: center;
  margin-bottom: 20px;
  gap: 2px;
}

.senha-container {
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  justify-content: center;
  margin-bottom: 20px;
  gap: 2px;
}

#email {
  width: 466px;
  height: 30px;
  padding: 5px;
  border: 1px solid #C5C2C2;
  background-color: #353535;
  border-radius: 4px;
  color: #FFFFFF;
}

#senha {
  width: 466px;
  height: 30px;
  padding: 5px;
  border: 1px solid #C5C2C2;
  background-color: #353535;
  border-radius: 4px;
  color: #FFFFFF;
}

.formBtn {
  background-color: #2FB23C;
  border: none;
  width: 191px;
  height: 67px;
  border-radius: 10px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 18px;
  padding-bottom: 18px;
  color: #FFFFFF;
  font-weight: 500;
  position: relative;
  font-size: 31.48px;
  cursor: pointer;
}

.formBtn:hover {
  background-color: #2fb23c85;
  transition: 0.3s;
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: center;
}

label {
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 600;
}

img {
  position: absolute;
  top: 42px
}